@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    margin: 0px 113.5px 0px 113.5px;
    background-color: #020B14;
    font-family: 'Roboto', sans-serif;
}

.main{
    min-width: 600px;
}

.background-phone{
    background-image: url(../source/image2.svg);
    background-repeat: no-repeat;
    background-position: right;
}

/*Шапка*/
.divider hr{
    border: none;
    height: 2px;
    background: linear-gradient(90deg, #0699DB 0%, #2D5E87 25%, #2E2A3F 50%, #341926 75%, #150C15 100%);
}

#reddot{
    margin: 0px 0px 18px 0px;
}

.Rutube-icon{
    padding: 28px 0px;
}

/*Оценка*/
.answer-button{
    width: 50px;
    height: 50px;
    margin: 0px 3px;
    border-radius: 50%;
    border: none;
    background-color: #020B14;
    border: #1F73F9 solid 1px;
    color: white;
    cursor: pointer;
}
  
.answer-button.clicked {
    background-color: #1F73F9;
    transition: 1.5s;
  }

.answer-button[data-question-id="1"] {
    margin: 8px 0px;
    font-family: Roboto;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    text-align: left;
    font-size: 12px;
    line-height: 20px;
    padding: 0px, 16px, 0px, 16px;
    color: #BFC9D4;
}

.background-phone p{
    font-family: Roboto;
    color: #BFC9D4;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
}

.question p{
    margin-top: 28px;
}

.submit-button{
    width: 222px;
    height: 44px;
    border-radius: 22px;
    padding: 12px, 16px, 12px, 16px;
    margin-top: 28px;
    margin-bottom: 126px;
}


@media(max-width: 650px){
    .background-phone{
        background-image: none;
    }
    .main{
        min-width: 200px;
    }

    body{
        margin: 2px;
    }
    #feedback-img{
        width: 300px;
    }
}
