@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    margin: 0;
    background-color: #020B14;
    font-family: 'Roboto', sans-serif;
}

.feedback{
    max-width: 550px;
    margin: auto;
}

/*Шапка*/

#reddot{
    margin: 0px 0px 18px 0px;
}

.divider hr{
    border: none;
    height: 2px;
    background: linear-gradient(90deg, #0699DB 0%, #2D5E87 25%, #2E2A3F 50%, #341926 75%, #150C15 100%);
}

.header-top{
    margin: 0px 113.5px;
}

.Rutube-icon{
    padding: 28px 0px;
}

/*Текстовое обращение*/

.feedback{
    color: white;
    text-align: center;
}

.feedback-text h4{
    margin-top: 30px;
    font-size: 17px;
    font-weight: 300;
}

/*Оценка*/
.feedback-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #020B14;
    border: #1F73F9 solid 1px;
    color: white;
    cursor: pointer;
    transition: 1.5s;
}
  
.answer-button.clicked {
    background-color: #1F73F9;
    transition: 1.5s;
}

.feedback-mood{
    margin: 10px 30px 0px 20px;
    display: flex;
    justify-content: space-between;
    color: #BFC9D4;
}


@media(max-width: 650px){
    .main{
        min-width: 200px;
    }

    body{
        max-width: 300px;
        margin: auto;
    }
    #feedback-img{
        width: 300px;
    }
    
    .header-top{
        margin: auto;
    }
}
